{% extends "layouts/base.html" %}
{% load i18n allauth account %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="row justify-content-center w-100">
            <!-- Card layout for large screens -->
            <div class="col-lg-6 d-none d-lg-block">
                <div class="card shadow-sm p-4">
                    <div class="card-body text-center">
                        <img src="{% static 'images/logo.png' %}" alt="Logo" class="mb-4 mx-auto d-block" style="width: 200px; height: 45px;">
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% else %}
                            <p class="mb-4">
                                {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                            </p>
                            {% url 'account_reset_password' as reset_url %}
                            <form method="post" action="{{ reset_url }}" class="w-100">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn login-btn btn-block">
                                        {% trans 'Reset My Password' %}
                                    </button>
                                </div>
                            </form>
                            <p class="mt-4 text-muted">
                                {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Simple layout for smaller screens -->
            <div class="col-11 d-lg-none">
                <div class="d-flex justify-content-center flex-column align-items-center text-center" style="margin-top: -90px">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="mb-5 mx-auto d-block" style="width: 200px; height: 45px;">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% else %}
                        <p class="mb-4 text-center">
                            {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                        </p>
                        {% url 'account_reset_password' as reset_url %}
                        <form method="post" action="{{ reset_url }}" class="w-100">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn login-btn btn-block">
                                    {% trans 'Reset My Password' %}
                                </button>
                            </div>
                        </form>
                        <p class="mt-4 text-muted text-center">
                            {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}