{% load i18n %}
{% load custome_filters %}


{% comment %} <h3 class="px-1">
    {% trans "My Properties" %}
    </h3> {% endcomment %}
    <div class="d-flex justify-content-between align-items-center">
        {% comment %} search form {% endcomment %}
        {% include "includes/search_properties.html" %}
        {% comment %} end of search form {% endcomment %}
        <a hx-get="{% url "add_property" %}" hx-target="#main-content" class="btn"><i class="bi bi-plus-circle-fill fs-2" style="color: #28a745"></i></a>
    </div>
    
    
<div class="over-flow-auto">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for property in all_properties %}
            <div class="col p-3">
                <div class="card border-0 shadow-sm property-card position-relative">
                    {% comment %} ribbon {% endcomment %}
                        {% if not property.is_rented %}
                            <div class="{% if LANGUAGE_CODE == 'ar' %}property-status-ribbon-rtl{% else %}property-status-ribbon-ltr{% endif %} ribbon-available">
                                {% trans "Available" %}
                            </div>
                        {% endif %}
                    {% comment %} end of ribbon {% endcomment %}
    
                    <div class="card-body property-details">
                        <div class="card-title border-bottom">
                            <h5>{{ property.name|title }}</h5>
                            <p class="property-location pt-1"><i class="bi bi-geo-alt-fill pe-1"></i>{{ property.get_country_display }}, {{ property.city }}</p>
                        </div>
                        {% if property.is_rented %}
                            {% for rental in property.property_rentals.all %}
                                <h5 class="text-success py-2">{{ rental.price|format_numbers }} {{ property.get_translated_currency }}/{{ rental.get_payment_period }}</h5>
                            {% endfor %}
                        {% else %}
                            <h5 class="text-success fw-light py-2">{% trans "Available to Rent" %}</h5>
                        {% endif %}
                        <div>
                        </div>
                        <div class="mt-2 d-flex align-items-center justify-content-between">
                            <div>
                                {% if not property.is_rented %}
                                    <a hx-get="{% url "view_property" property.id %}" hx-target="#main-content" class="btn rounded-5 blue-button">{% trans "View History" %}</a>
                                    <a hx-get="{% url "rent_property" property.id %}" hx-target="#main-content" class="btn rounded-5 px-3 green-button">{% trans "Rent" %}</a>
                                {% else %}
                                    <a hx-get="{% url "view_property" property.id %}" hx-target="#main-content" class="btn rounded-5 blue-button">{% trans "View Details" %}</a>
                                {% endif %}
                            </div>
                            {% comment %} dropend {% endcomment %}
                                {% include "includes/property_drop_end.html" %}
                            {% comment %} end of dropend {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} confirm delete {% endcomment %}
                {% include "modals/confirm_delete_modal.html" %}
            {% comment %} end of confirm delete {% endcomment %}
        {% endfor %}
    </div>
</div>