{% extends "layouts/base.html" %}
{% load account %}
{% load static %}
{% load i18n %}
{% load custome_filters %}

{% block content %}

{% comment %} <style>
    .col {
        border: 1px solid red; /* Add a red border to all columns */
    }
</style> {% endcomment %}

<div class="container-fluid p-0">
    {% comment %} nav bar mobile {% endcomment %}
        {% include "includes/nav.html" %}
    {% comment %} end of navbar mobile {% endcomment %}

    {% comment %} Sidebar {% endcomment %}
        {% include "includes/sidebar.html" %}
    {% comment %} end of sidebar {% endcomment %}

    <div class="dashboard-nav">
        {% comment %} dashboard-nav large screen {% endcomment %}
        <div>
            <h3>
                {% trans "Hi" %} {{ request.user.username }}
            </h3>
        </div>
        <div class="d-flex align-items-center gap-3">
            <div class="notifications-container d-none card-overview shadow-sm p-3 border-0">
                <div>
                    {% include "includes/notifications.html" %}
                </div>
            </div>
            <div class="notification-icon" style="position: relative">
                <h4>
                    <i class="bi bi-bell" style="cursor: pointer;"></i>
                </h4>
                <span class="notification-counter d-none"></span>
            </div>
            <div>
                {% include "includes/language_menu.html" %}
            </div>
        </div>
        {% comment %} dashboard-nav large screen {% endcomment %}
    </div>
    
    {% comment %} main container wrapper {% endcomment %}
        <div class="main-container-wrapper">
            {% comment %} big screen view {% endcomment %}
            <div id="main-content" class="container-fluid">
                <div class="row gap-2">
                    <div class="col-md-8" >
                        <div class="row row-cols-2">
                            {% comment %} available properties {% endcomment %}
                            <div class="col">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#availablePropertiesModal">
                                    <div class="card card-overview shadow-sm p-3 border-0">
                                        <h5><i class="bi bi-house-door"></i> {% trans "Available Properties" %}</h5>
                                        <h3 class="card-value pt-3">{{ available_properties.count }}</h3>
                                    </div>
                                </a>
                            </div>
                            {% comment %} end of available properties {% endcomment %}

                            {% comment %} occupied properties {% endcomment %}
                            <div class="col">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#occupiedPropertiesModal">
                                    <div class="card card-overview shadow-sm p-3 border-0">
                                        <h5><i class="bi bi-house-fill"></i> {% trans "Occupied Properties" %}</h5>
                                        <h3 class="card-value pt-3">{{ rented_properties.count }}</h3>
                                    </div>
                                </a>
                            </div>
                            {% comment %} end of occupied properties {% endcomment %}
                            
                            {% comment %} monthly revenue in mobile {% endcomment %}
                            <div class="col-12 mt-3 d-lg-none d-block" >
                                <div class="card monthly-revenue shadow-sm p-3 border-0" style="height: 130px;">
                                    <h5 class="text-white"><i class="bi bi-cash-stack"></i> {% trans "Monthly Revenue" %}</h5>
                                    <p class="text-muted" style="font-size: 14px;">{% trans "Monthly revenue in USD" %}</p>
                                    <h3 class="text-white fw-normal wrap-long-text">
                                        {{ monthly_revenue|floatformat:2 }} {{ user.get_translated_currency }} {% trans "$" %}
                                    </h3>
                                    <img src="{% static "images/stock.png" %}" alt="stock icon">
                                </div>
                            </div>
                            {% comment %} end of monthly revenue in mobile {% endcomment %}
                        </div>
                        <div class="row gap-3 mt-3">
                            <div class="col order-md-0 order-3">
                                {% include "includes/expiring_contracts.html" %}
                            </div>
                            {% if payment_status_counts.paid or payment_status_counts.pending or payment_status_counts.overdue %}
                                <div class="col-md-3 order-md-0 col-12 order-1">
                                    <canvas id="rentPaymentChart"></canvas>
                                </div>
                            {% endif %}
                            <div class="col-fill order-md-0 order-2">
                                {% include "includes/upcoming_payments.html" %}
                            </div>
                            <div class="col-fill order-md-0 order-4">
                                {% include "includes/recent_tenants.html" %}
                            </div>
                            <div class="p-3 pt-0 border-0 d-md-none d-block order-md-0 order-5">
                                <div class="card upgrade-plan shadow-sm p-3 border-0">
                                    <h5 class="text-white"><i class="bi bi-rocket"></i> {% trans "Upgrade Plan" %}</h5>
                                    <p class="text-white" style="font-size: 14px;">{% trans "Unlock more features by upgrading your plan." %}</p>
                                    <a href="#" class="btn btn-light rounded-5 mt-3">{% trans "Upgrade Now" %}</a>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="d-md-none d-block mt-3 border-0" >
                            {% include "includes/recent_activities.html" %}
                        </div> {% endcomment %}
                    </div>
                    <div class="col">
                        <div class="row row-cols-1 px-2 gap-3 position-fixed">
                            {% comment %} monthly revenue in big screen {% endcomment %}
                            <div class="col d-lg-block d-none">
                                <div class="card monthly-revenue shadow-sm p-3 border-0" style="background-color: var(--success-color); color: white">
                                    <h5 class="text-white"><i class="bi bi-cash-stack"></i> {% trans "Monthly Revenue" %}</h5>
                                    <p class="text-muted" style="font-size: 14px;">{% trans "Monthly revenue in USD" %}</p>
                                    <h3 class="text-white fw-normal wrap-long-text">
                                        {{ monthly_revenue|floatformat:2 }} {{ user.get_translated_currency }} {% trans "$" %}
                                    </h3>
                                    <img src="{% static "images/stock.png" %}" alt="stock icon">
                                </div>
                            </div>
                            {% comment %} end of monthly earning in big screen {% endcomment %}

                            {% comment %} recent activities {% endcomment %}
                                <div class="border-0 d-md-block d-none" >
                                    {% include "includes/recent_activities.html" %}
                                </div>
                            {% comment %} end of recent activities {% endcomment %}

                            <div class="p-3 pt-0 border-0 d-md-block d-none">
                                <div class="card upgrade-plan shadow-sm p-3 border-0">
                                    <h5 class="text-white"><i class="bi bi-rocket"></i> {% trans "Upgrade Plan" %}</h5>
                                    <p class="text-white" style="font-size: 14px;">{% trans "Unlock more features by upgrading your plan." %}</p>
                                    <a href="#" class="btn btn-light rounded-5 mt-3">{% trans "Upgrade Now" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    {% comment %} end of main container {% endcomment %}
</div>

<!-- available Properties Modal -->
    {% include "modals/available_properties_modal.html" %}
<!-- end of available Properties Modal -->

<!-- occupied Properties Modal -->
    {% include "modals/occupied_properties_modal.html" %}
<!-- end of occupied Properties Modal -->

{% comment %} Javascript {% endcomment %}
<script src="{% static "js/main.js" %}"></script>

<script>
    const ctx = document.getElementById("rentPaymentChart").getContext("2d");
    var fontFamily = document.documentElement.getAttribute('dir') === 'rtl' ? 'Cairo' : 'Roboto';
    const rentPaymentChart = new Chart(ctx, {
        type: "doughnut",
        data: {
            labels: [
            '{% trans "Paid" %}',
            '{% trans "Pending" %}',
            '{% trans "Overdue" %}'
            ],
            datasets: [
                {
                    data: [
                        {{ payment_status_counts.paid}},
                        {{ payment_status_counts.pending}},
                        {{ payment_status_counts.overdue}},
                    ],
                    backgroundColor: [
                        "rgba(86, 171, 47)",
                        "rgba(128, 128, 128, 0.6)",
                        "rgba(255, 0, 0, 0.6)",
                    ],
                    borderWidth: 0.2,
                },
            ],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: "bottom",
                    labels: {
                        font: {
                            size: 12,
                            family: fontFamily,
                        },
                        color: "rgba(0, 0, 0, 0.6)",
                        padding: 10,
                        usePointStyle: true,
                    },
                },
                title: {
                    display: true,
                    text: '{% trans "Rent Payment Status Breakdown" %}' ,
                    font: {
                        size: 20,
                        weight: "400",
                        family: fontFamily,
                    },
                    color: "rgba(0, 0, 0, 0.6)",
                },
            },
            maintainAspectRatio: false,
            aspectRatio: 1.5,
        },
    });
</script>

{% endblock content %}