{% extends "layouts/base.html" %}
{% load account %}
{% load static %}
{% load i18n %}
{% load custome_filters %}


{% block content %}

<div class="container-fluid p-0">
    <div class="row">
        {% comment %} nav bar mobile {% endcomment %}
            {% include "includes/nav.html" %}
        {% comment %} end of navbar mobile {% endcomment %}

        {% comment %} Sidebar {% endcomment %}
            {% include "includes/sidebar.html" %}
        {% comment %} end of sidebar {% endcomment %}

        <div class="content col-lg-10 px-2">
            {% comment %} language menu {% endcomment %}
                {% include "includes/language_menu.html" %}
            {% comment %} end of language menu {% endcomment %}

            <div id="main-content" class="p-3">
                {% comment %} overview_cards {% endcomment %}
                    {% include "includes/overview_cards.html" %}
                {% comment %} end of overview_cards {% endcomment %}

                <div class="mt-lg-3 row row-cols-1 row-cols-md-2 d-flex">
                    {% comment %} upcoming payment {% endcomment %}
                        {% include "includes/upcoming_payments.html" %}
                    {% comment %} upcoming payment {% endcomment %}

                    {% comment %} expiring contracts {% endcomment %}
                        {% include "includes/expiring_contracts.html" %}
                    {% comment %} end ofexpiring contracts {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</divs>

<!-- available Properties Modal -->
    {% include "includes/available_properties_modal.html" %}
<!-- end of available Properties Modal -->


<!-- occupied Properties Modal -->
    {% include "includes/occupied_properties_modal.html" %}
<!-- end of occupied Properties Modal -->


{% comment %} Javascript {% endcomment %}
<script src="{% static "js/main.js" %}"></script>

{% endblock content %}