{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 text-center d-flex flex-column justify-content-center align-items-center">
                <img src="{% static "images/not-developed.svg" %}" alt="Not developed yet image" style="opacity: 0.3">
                <h1>{% trans "Not Developed" %}</h1>
                <p>{% trans "This page is not developed yet. Please come back later." %}</p>
            </div>
        </div>
    </div>
{% endblock %}