/* Sidebar */
#sidebar-wrapper[dir="ltr"] {
    left: 0;
}

#sidebar-wrapper[dir="rtl"] {
    right: 0;
}

#sidebar-wrapper {
    background-color: #ffffff;
    height: 100%;
}

#nav-bar-wrapper {
    width: 100%;
}

/* Sidebar links */
.list-group-item {
    font-size: 1.1rem;
    border: none;
    background-color: #ffffff;
    color: #464646;
}

.list-group-item:hover {
    background-color: #1960ab;
    color: #ffffff;
    transition: 0.3s;
}

.list-group-item:focus {
    color: #ffffff;
    background-color: #1960ab;
}

.card-overview {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.content {
    background-color: #f7f7f7;
    min-height: 100vh;
    height: auto;
}

/* #content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #34495e;
    margin-top: 1em;
}

#content p {
    color: #7f8c8d;
} */

/* Mobile Responsive */
@media (max-width: 992px) {
    #sidebar-wrapper {
        display: none;
        z-index: 500;
        position: fixed;
        width: 230px;
    }

    #nav-bar-wrapper {
        padding-left: 0;
        z-index: 1000;
    }

    #menu-toggle {
        display: block;
    }
    .main-container {
        margin-left: 0;
    }
}
