/* Mobile Responsive */
@media (max-width: 992px) {
    #sidebar-wrapper {
        display: none;
        width: 12em;
        top: 3em;
    }

    #menu-toggle {
        display: block;
    }

    .main-container-wrapper {
        margin-left: 0;
        margin-top: 4.5em;
    }

    .dashboard-nav {
        display: none;
    }

    .bi-translate, .bi-bell {
        color: var(--light-color);
    }

    .notifications-container {
        position: absolute;
        top: 3.6em;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 50vh;
        max-height: 100vh;
        background-color: var(--light-color);
        z-index: 2000;
        border-radius: 0 !important;
    }

    .notification-counter {
        display: inline-block;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 3px 7px;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: -8px;
        right: -7px;
        z-index: 10;
    }
}

@media (min-width: 992px) {
    body {
        overflow-x: hidden;
        /* overflow-y: hidden; */
        min-width: 982px;
    }

    .main-container-wrapper {
        width: calc(100% - 15em);
        margin-left: 15em;
        margin-top: 4em; /* 60px converted to em */
        position: absolute;
    }

    html[dir="rtl"] .main-container-wrapper {
        margin-right: 15em;
        margin-left: 0;
    }

    .dashboard-nav {
        width: calc(100% - 15em);
        margin-left: 15em;
        padding: 1em 1em;
        top: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--gray-color);
        position: fixed;
    }

    html[dir="rtl"] .dashboard-nav {
        margin-right: 15em;
        margin-left: 0;
    }

    .bi-translate, .bi-bell {
        color: var(--primary-color);
    }

    .payment-card {
        width: calc(50% - 1rem); /* Three cards per row on extra large screens */
        margin-bottom: 1rem;
    }

    html[dir="ltr"] .notifications-container {
        position: absolute;
        top: 58px;
        right: 90px;
        width: 25em;
        height: auto;
        max-height: 40em;
        background-color: var(--light-color);
        z-index: 2000;
    }

    html[dir="rtl"] .notifications-container {
        position: absolute;
        top: 58px;
        left: 90px;
        width: 25em;
        height: auto;
        max-height: 40em;
        background-color: var(--light-color);
        z-index: 2000;
    }

    .notification-counter {
        display: inline-block;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 4px 8px;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 10;
    }

    #sidebar-wrapper {
        width: 15em;
        top: 0;
    }
}

/* Sidebar */
#sidebar-wrapper {
    position: fixed;
    z-index: 500;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    height: 100%;
    min-height: 100vh;
}

#sidebar-wrapper[dir="ltr"] {
    left: 0;
}

#sidebar-wrapper[dir="rtl"] {
    right: 0;
}

.sidebar-divider {
    display: block;
    height: 0.06em;
    background-color: #979797;
    width: 70%;
    margin: 1.5em auto;
}

/* Sidebar links */
.list-group-item {
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
    color: var(--light-color);
}

.list-group-item:hover,
.list-group-item:active {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: 0.3s;
}

.list-group-item:focus {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-logo {
    width: 10.5em;
    height: 2em;
}

/* Card */
.card-overview {
    border-radius: 20px;
    background-color: var(--light-color);
}

.monthly-revenue {
    border-radius: 20px;
    background: linear-gradient(135deg, #a8e063, #56ab2f);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.monthly-revenue img {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    opacity: 0.08
}

html[dir="ltr"] .monthly-revenue img {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    opacity: 0.08;
    right: 10px;
}

html[dir="rtl"] .monthly-revenue img {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    opacity: 0.08;
    left: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.wrap-long-text {
    word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
    word-break: break-all; /* Ensures that the text breaks within the word if necessary */
    white-space: normal; /* Allows the text to wrap normally */
}

.content {
    background-color: var(--light-color);
    min-height: 100vh;
    height: auto;
}

.dropdown-menu {
    background-color: var(--light-color);
}

.dropdown-menu button:hover,
.dropdown-item:hover
{
    background-color: none;
    text-decoration: underline;
}

.dropdown-menu button:focus,
.dropdown-item:active
{
    background-color: var(--light-color);
    color: black;
}

.main-container-wrapper {
    min-height: 100vh;
    padding: 2em 0.2em;
}

/* Flexbox adjustments for mobile */
.mobile-payment-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.payment-card {
    flex: 0 0 auto;
    background: #f8f9fa;
    scroll-snap-align: start;
}

.badge {
    border-radius: 30px;
}

.amount-section h6 {
    font-size: 18px;
    font-weight: bold;
}

.status-section .badge {
    font-size: 12px;
    padding: 5px 10px;
}

/* Adjust layout for larger screens */
@media (max-width: 768px) {
    .payment-card {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.upgrade-plan {
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Notifications */
.notifications-container {
    position: absolute;
    z-index: 2000;
    background-color: var(--light-color);
}

.notifications-container::-webkit-scrollbar-track {
    margin: 15px 0;
}

.notifications-header, .activities-header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

html[dir="ltr"] .timeline {
    position: relative;
    margin-top: 15px;
    padding-left: 5px;
    overflow: auto;
    max-height: 45vh;
    height: 14em;
}
html[dir="rtl"] .timeline {
    position: relative;
    margin-top: 15px;
    padding-right: 5px;
    overflow: auto;
    max-height: 45vh;
    height: 14em;
}

html[dir="ltr"] .timeline-item {
    position: relative;
    padding-left: 20px;
}

html[dir="rtl"] .timeline-item {
    position: relative;
    padding-right: 20px;
}

html[dir="ltr"] .timeline-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html[dir="rtl"] .timeline-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html[dir="ltr"] .timeline-content {
    padding-left: 10px;
    margin-left: 10px;
}

html[dir="rtl"] .timeline-content {
    padding-right: 10px;
    margin-right: 10px;
}

.red-modal-header {
    background: linear-gradient(135deg, #ff7e79, #ff3d3d);
}

.green-modal-header {
    background: linear-gradient(135deg, #a8e063, #56ab2f);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    height: 6px; /* Height of the horizontal scrollbar */
    width: 6px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--gray-color); /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #d1d1d1; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-color); /* Color of the scrollbar thumb on hover */
}