:root {
    --primary-color: #0f3054;
    --primary-color-dark: #0c2744;
    --secondary-color: #1960ab;
    --success-color: #28a745;
    --danger-color: #f32020;
    --light-color: #f8f9fa;
    --dark-color: #575757;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #efeff1;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --tester: 1px solid red
}

/* overall css styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-color);
}

/* General RTL styles */
body[dir="rtl"] {
    text-align: right;
}

/* General LTR styles */
body[dir="ltr"] {
    text-align: left;
}

/* For English (lang-en) */
.lang-en body {
    font-family: "Roboto", sans-serif;
}

/* For Arabic (lang-ar) */
.lang-ar body {
    font-family: "Cairo", sans-serif;
}

h1,
h2,
h6,
h5,
h4,
h3,
.close-notifications {
    color: var(--dark-color);
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* .over-flow-auto {
    overflow-y: auto;
    overflow-x: hidden;
} */