{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <style>
        .asteriskField {
            color: red;
        }
    </style>

    <div>
        <h2>{% trans "Add Property" %}</h2>
        <div class="pt-2">
            <form method="post" action="{% url "add_property" %}" >
                {% csrf_token %}
                {{ form.media }}
                {{ form | crispy}}
                <button type="submit" class="btn text-white" style="background-color: #0f3054;">{% trans "Save" %}</button>
            </form>
            {% comment %} <a href="{% url "home" %}" hx-trigger="success" hx-target="#main-content" style="display:none"></a> {% endcomment %}
        </div>
    </div>

{% endblock content %}