{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <style>
        .asteriskField {
            color: red;
        }
    </style>

    <div class="col-lg-6">
        <h2>{% trans "Edit Property" %}</h2>
        <div class="pt-2">
            <form hx-post="{% url "edit_property" property.id %}" hx-target="#main-content">
                {% csrf_token %}
                {{ form.media }}
                {{ form | crispy}}
                <button type="submit" class="btn text-white" style="background-color: #0f3054;">{% trans "Edit" %}</button>
            </form>
        </div>
    </div>

{% endblock content %}