{% load i18n %}


<div class="modal fade" id="confirmPaymentModal{{ rental.property.id }}" tabindex="-1" aria-labelledby="confirmPaymentModalLabel{{ rental.property.id }}" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header green-modal-header">
        <h5 class="modal-title text-white" id="confirmPaymentModalLabel{{ rental.property.id }}">{% trans "Confirm Payment" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% trans "Confirm Payment for property ?" %} <span style="color: var(--secondary-color);">{{ rental.property.name|title }}</span>
            {% trans "until" %} 
            {% if rental.get_next_payment %}
                <span style="color: var(--secondary-color);">{{ rental.get_next_payment.0|date:"d M Y" }}</span>?
            {% else %}
                <span style="color: var(--secondary-color);">{{ rental.end_date|date:"d M Y" }}</span>
            {% endif %}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-5" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
        <a hx-get="{% url "mark_as_paid" rental.id %}" hx-target="#upcoming-payment-content" class="green-button btn rounded-5" data-bs-dismiss="modal">{% trans "Confirm" %}</a>
        </div>
    </div>
    </div>
</div>
