{% load i18n %}

<div class="modal fade" id="emptyPropertyModal{{ property.id }}" tabindex="-1" aria-labelledby="emptyPropertyModalLabel{{ property.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emptyPropertyModalLabel{{ property.id }}">{% trans "Confirm Action" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% trans "Are you sure you wish to empty this property" %} <span class="text-danger">{{ property.name }}.</span> {% trans "All current data will be saved as Rental history" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
          <a hx-get="{% url "empty_property" rental.id %}" hx-target="#main-content" class="btn btn-danger" data-bs-dismiss="modal">{% trans "Empty" %}</a>
        </div>
      </div>
    </div>
</div>
