@media (max-width: 992px) {
    #id_password_helptext a {
        color: white;
    }
}

@media (min-width: 992px) {
    #id_password_helptext a {
        color: var(--secondary-color);
    }
}

.login-container {
    margin-top: -60px;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-card-body {
    padding: 40px;
}

.login-btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: var(--secondary-color);
}

.btn-outline-primary {
    border-radius: 50px;
    padding: 10px 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: white;
}

.text-muted a {
    color: #1960ab;
}

.text-white a {
    color: white;
    text-decoration: underline;
}

.form-control, .form-select {
    border-radius: 20px;
}

.google-btn {
    background-color: #d34836;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: #f55a4e;
}

.container {
    max-width: 1200px;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-block {
    display: block;
    width: 100%;
}

.text-muted {
    font-size: 0.875rem;
}

.asteriskField {
    display: none;
}
