{% load i18n %}
{% load custome_filters %}

<div>
    <div class="d-flex justify-content-between">
        <h2 class="px-1">{% trans "My Properties" %}</h2>
        <a hx-get="{% url "add_property" %}" hx-target="#main-content" class="btn align-self-center"><i class="bi bi-plus-circle-fill fs-3 align-self-center d-flex" style="color: #28a745"></i></a>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        {% for property in all_properties %}
          <div class="col p-3">
            <div class="card property-card position-relative">
                <!-- Ribbon -->
                {% if not property.is_rented %}
                    <div class="{% if LANGUAGE_CODE == 'ar' %}property-status-ribbon-rtl{% else %}property-status-ribbon-ltr{% endif %} ribbon-available">
                        {% trans "Available" %}
                    </div>
                {% endif %}
                <div class="card-body property-details">
                    <h5 class="card-title">{{ property.name }}</h5>
                    <p class="property-location"><i class="bi bi-geo-alt-fill pe-1"></i>{{ property.get_country_display }}, {{ property.city }}</p>
                    <p class="property-price text-success">{{ property.price|format_numbers }} {{ property.get_translated_currency }}/{% trans "month" %}</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            {% if not property.is_rented %}
                              <a hx-get="{% url "view_property" property.id %}" hx-target="#main-content" class="btn property-button">{% trans "View Details" %}</a>
                              <a hx-get="{% url "rent_property" property.id %}" hx-target="#main-content" class="btn px-3 btn-success">{% trans "Rent" %}</a>
                            {% else %}
                                <a hx-get="{% url "view_property" property.id %}" hx-target="#main-content" class="btn property-button">{% trans "View Details" %}</a>
                            {% endif %}
                        </div>
                        <div>
                            <div class="dropdown">
                                <i class="dropdown bi bi-three-dots fs-3" style="cursor: pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a class="dropdown-item" hx-get="{% url "edit_property" property.id %}" hx-target="#main-content">{% trans "Edit" %}</a>
                                  </li>
                                  {% if property.is_rented %}
                                    <li>
                                      {% comment %} <a class="dropdown-item" hx-get="{% url "edit_rental" property.id %}" hx-target="#main-content">{% trans "Edit Rental" %}</a> {% endcomment %}
                                    </li>
                                  {% endif %}
                                  <li>
                                      <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ property.id }}">{% trans "Delete" %}</a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmDeleteModal{{ property.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ property.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel{{ property.id }}">{% trans "Confirm Delete" %}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% trans "Are you sure you wish to delete this property?" %} {{ property.name }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                  <a hx-get="{% url 'delete_property' property.id %}" hx-target="#main-content" class="btn btn-danger" data-bs-dismiss="modal">{% trans "Delete" %}</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>