{% load i18n %}
{% load custome_filters %}


<div>
    <div class="d-flex justify-content-between">
        <h2 class="px-1">{% trans "My Properties" %}</h2>
        <a hx-get="{% url "add_property" %}" hx-target="#main-content" class="btn align-self-center"><i class="bi bi-plus-circle-fill fs-3 align-self-center d-flex" style="color: #28a745"></i></a>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        {% for property in all_properties %}
          <div class="col p-3">
            <div class="card property-card position-relative">
                <!-- Ribbon -->
                {% if not property.is_rented %}
                    <div class="{% if LANGUAGE_CODE == 'ar' %}property-status-ribbon-rtl{% else %}property-status-ribbon-ltr{% endif %} ribbon-available">
                        {% trans "Available" %}
                    </div>
                {% endif %}
                <div class="card-body property-details">
                    <h5 class="card-title">{{ property.name }}</h5>
                    <p class="property-location"><i class="fas fa-map-marker-alt"></i> {{ property.location }}</p>
                    <p class="property-price">{{ property.price|format_numbers }}/{% trans "month" %}</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="#" class="btn text-white" style="background-color: #0f3054">{% trans "View Details" %}</a>
                        <div>
                            <div class="dropdown">
                                <i class="dropdown bi bi-three-dots fs-3" style="cursor: pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" hx-get="{% url "edit_property" property.id %}" hx-target="#main-content">{% trans "Edit" %}</a></li>
                                  <li><a class="dropdown-item text-danger" hx-get="{% url "delete_property" property.id %}" hx-target="#main-content">{% trans "Delete" %}</a></li>
                                </ul>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

