{% load i18n %}
{% load custome_filters %}


<div class="card card-overview shadow-sm border-0 flex-fill">
    <div class="card-body">
        <div class="row">
            <h5><i class="bi bi-file-text"></i> {% trans "Expiring Contracts" %}</h5>          
            {% if expiring_contracts %}
                <p class="text-muted" style="font-size: 14px;">{% trans "Contracts Expiring with in 30 days" %}</p>
                <div class="d-flex flex-nowrap overflow-x-auto gap-3 mobile-payment-cards">
                    {% for rental in expiring_contracts %}
                        <div class="payment-card shadow-sm p-3 rounded-4 bg-light d-flex flex-column justify-content-between">
                            <div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6>
                                        <a hx-get="{% url 'view_property' rental.property.id %}" hx-target="#main-content" style="color: var(--dark-color)">{{ rental.property.name }}</a>
                                    </h6>
                                    <i class="bi bi-three-dots fs-3" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu border-0 shadow-sm">
                                        <li>
                                            {% comment %} <a class="dropdown-item text-success" data-bs-toggle="modal" data-bs-target="#confirmPaymentModal{{ rental.property.id }}">{% trans "Mark as Paid" %}</a> {% endcomment %}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- days left -->
                            <div class="amount-section">
                                <h6 class="text-danger fw-normal">
                                    {% blocktrans count days=rental.expiring_contracts.1 %}After {{ days }} Day{% plural %}After {{ days }} Days{% endblocktrans %}
                                </h6>
                            </div>

                            <!-- Badges -->
                            <div class="mt-2">
                                <span class="badge bg-danger">{% trans "Expiring Contract" %}</span>
                            </div>
                        </div>
                        {% include "modals/confirm_payment_modal.html" %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-muted" style="font-size: 14px;">{% trans "No expiring contracts within the next 30 days" %}</p>
            {% endif %}
        </div>
    </div>
</div>



