{% load i18n %}

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #464646;">
            <i class="bi bi-translate"></i><span class="p-2">{% trans "Language" %}</span>
        </button>
        <ul class="dropdown-menu">
            <button type="submit" class="dropdown-item" name="language" value="en">
                {% trans "English" %}
            </button>
            <button type="submit" class="dropdown-item" name="language" value="ar">
                {% trans "Arabic" %}
            </button>
        </ul>
    </div>
</form>
