{% load i18n %}

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'home' %}" />
    <div class="p-2">
        <h4
            class="dropdown m-0 p-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            <i class="bi bi-translate"></i>
        </h4>
        <ul class="dropdown-menu shadow-sm border-0 rounded-4 mt-1">
            <button
                type="submit"
                class="dropdown-item"
                name="language"
                value="en"
            >
                {% trans "English" %}
            </button>
            <button
                type="submit"
                class="dropdown-item"
                name="language"
                value="ar"
            >
                {% trans "Arabic" %}
            </button>
        </ul>
    </div>
</form>
