{% load i18n %}


<div class="modal fade" id="occupiedPropertiesModal" tabindex="-1" aria-labelledby="occupiedPropertiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% if rented_properties %}
                <div class="modal-header">
                    <h5 class="modal-title" id="occupiedPropertiesModalLabel">{% trans "Occupied Properties" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" style="color: var(--dark-color)">{% trans "Property" %}</th>
                                    <th scope="col" style="color: var(--dark-color)">{% trans "End date" %}</th>
                                    <th scope="col" style="color: var(--dark-color)">{% trans "Status" %}</th>
                                    <th scope="col" style="color: var(--dark-color)">{% trans "Options" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for property in rented_properties %}
                                    <tr>
                                        <td style="color: #1960ab;">{{ property.name }}</td>
                                        {% for rental in property.property_rentals.all %}
                                            <td>{{ rental.end_date|date:"d M Y" }}</td>
                                            <td>
                                                {% if rental.status == "paid" %}
                                                    <span class="badge bg-success">{% trans "Paid" %}</span>
                                                {% elif rental.status == "overdue" %}
                                                    <span class="badge bg-warning">{% trans "Overdue" %}</span>
                                                {% else %}
                                                    <span class="badge bg-secondary">{% trans "Pending" %}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="d-lg-none d-block">
                                                    <div class="dropend text-center">
                                                        <i class="bi bi-three-dots fs-3" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                        <ul class="dropdown-menu rounded-4">
                                                            <li>
                                                                <a class="dropdown-item" hx-get="{% url "edit_rental" rental.id %}" hx-target="#main-content" data-bs-dismiss="modal">{% trans "Edit Rental" %}</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" hx-get="{% url "view_property" property.id %}" hx-target="#main-content" data-bs-dismiss="modal">{% trans "View Details" %}</a>
                                                            </li>
                                                        </ul>                                            
                                                    </div>
                                                </div>
                                                <div class="d-lg-block d-none">
                                                    <a hx-get="{% url 'view_property' property.id %}" hx-target="#main-content" data-bs-dismiss="modal" class="btn btn-sm blue-button rounded-5 px-3">{% trans "View Details" %}</a>
                                                </div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="modal-body">
                    <p class="text-muted" style="font-size: 14px;">{% trans "There is no occupied properties" %}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>