{% load i18n %}
{% load custome_filters %}


<div class="property-details-container">
    <!-- Property Details -->
    <div>
        {% for rental in property.property_rentals.all %}
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{ property.name }} - {{ property.get_property_type_display }}</h2>
                <div class="dropdown">
                    <i class="bi bi-three-dots fs-3" style="cursor: pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-end border-0 shadow-sm">
                        <li>
                            <a class="dropdown-item" hx-get="{% url 'edit_rental' rental.id %}" hx-target="#main-content">{% trans "Edit Rental" %}</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#emptyPropertyModal{{ property.id }}">{% trans "Empty" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% include "modals/empty_property_modal.html" %}
        {% endfor %}
        
        <p class="text-muted"><i class="bi bi-geo-alt-fill pe-1"></i> {{ property.get_country_display }}, {{ property.city }}<br> 
            <span class="ms-4">{{ property.address }}</span>
        </p>

        {% for rental in property.property_rentals.all %}
            <h4 class="text-success">{{ rental.price|format_numbers }} {{ property.get_translated_currency }}/{{ rental.get_payment_period }}</h4>
        {% endfor %}
        
        <hr>

        <!-- Property Tabs -->
        <ul class="nav nav-tabs" id="propertyDetailsTab" role="tablist">
            {% if property.is_rented %}
                <li class="nav-item">
                    <button class="nav-link active" style="color: var(--primary-color)" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" role="tab" aria-selected="true">
                        <i class="bi bi-house-fill p-1"></i>{% trans "Overview" %}
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" style="color: var(--primary-color)" id="tenant-tab" data-bs-toggle="tab" data-bs-target="#tenant" role="tab">
                        <i class="bi bi-person-fill p-1"></i>{% trans "Tenant Info" %}
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" style="color: var(--primary-color)" id="rental-history-tab" data-bs-toggle="tab" data-bs-target="#rental-history" role="tab">
                        <i class="bi bi-clock-history p-1"></i>{% trans "Rental History" %}
                    </button>
                </li>
            {% else %}
                <li class="nav-item">
                    <button class="nav-link active" id="rental-history-tab" data-bs-toggle="tab" data-bs-target="#rental-history" role="tab">
                        <i class="bi bi-clock-history p-1"></i>{% trans "Rental History" %}
                    </button>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content mt-3" id="propertyDetailsTabContent">
            {% if property.is_rented %}
                <!-- Overview Tab -->
                <div class="tab-pane fade show active" id="overview" role="tabpanel">
                    <div class="card card-overview shadow-sm mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <p><i class="bi bi-calendar-event px-2"></i> <strong>{% trans "Rent start date" %}:</strong> {{ rent_property.start_date|date:"d M Y" }}</p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p><i class="bi bi-calendar-event px-2"></i> <strong>{% trans "Rent end date" %}:</strong>{{ rent_property.end_date|date:"d M Y" }}</p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    {% if rent_property.damage_deposit %}
                                        <p><i class="bi bi-bank px-2"></i><strong>{% trans "Damage deposit" %}:</strong> {{ rent_property.damage_deposit|format_numbers }} {{ property.get_translated_currency }}</p>
                                    {% else %}
                                        <p><i class="bi bi-bank px-2"></i><strong>{% trans "Damage deposit" %}:</strong> {% trans "N/A" %}</p>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p>
                                        <strong><i class="bi bi-currency-dollar px-2"></i>{% trans "Payment status (Current month)" %}:</strong>
                                        {% if rent_property.status == "pending" %}
                                            <span class="badge bg-secondary">{{ rent_property.get_status_display }}</span>
                                        {% elif rent_property.status == "overdue" %}
                                            <span class="badge bg-warning">{{ rent_property.get_status_display }}</span>
                                        {% elif rent_property.status == "paid" %}
                                            <span class="badge bg-success">{{ rent_property.get_status_display }}</span>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p>
                                        <i class="bi bi-calendar-event px-2"></i><strong>{% trans "Next Payment" %}:</strong>
                                        {% if rent_property.get_next_payment %}
                                            {% trans "in" %} {{ rent_property.get_next_payment.1 }} {% trans "day" %}{{ rent_property.get_next_payment.1|pluralize }}
                                        {% else %}
                                            {% trans "No more Payments" %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tenant Info Tab -->
                <div class="tab-pane fade" id="tenant" role="tabpanel">
                    <div class="card card-overview shadow-sm mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <p><strong>{% trans "Name" %}:</strong> {{ rent_property.tenant.name }}</p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p><strong>{% trans "Phone Number" %}:</strong> {{ rent_property.tenant.phone_number }}</p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p><strong>{% trans "ID image" %}:</strong> 
                                        {% if rent_property.tenant.id_image %}
                                            <a href="{{ rent_property.tenant.id_image.url }}" target="_blank" class="btn btn-dark btn-sm">{% trans "View ID Image" %}</a>
                                        {% else %}
                                            {% trans "N/A" %}
                                        {% endif %}
                                    </p>
                                </div>
                                <div id="mobile-buttons" class="d-none">
                                    <a href="tel:{{ rent_property.tenant.phone_number }}" class="btn btn-sm me-2 text-white rounded-5 px-3" style="background-color: var(--primary-color)">
                                        <i class="bi bi-telephone-fill"></i> {% trans "Call" %}
                                    </a>
                                    <a href="sms:{{ rent_property.tenant.phone_number }}" class="btn btn-success btn-sm rounded-5 px-3">
                                        <i class="bi bi-chat-dots-fill"></i> {% trans "Text" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Rental History Tab -->
                <div class="tab-pane fade" id="rental-history" role="tabpanel">
                    <div class="card card-overview shadow-sm">
                        <div class="card-body table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>{% trans "Tenant" %}</th>
                                        <th>{% trans "From" %}</th>
                                        <th>{% trans "To" %}</th>
                                        <th>{% trans "Options" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rental_history in rental_histories %}
                                        <tr>
                                            <td>{{ rental_history.tenant.name }}</td>
                                            <td>{{ rental_history.start_date|date:"d M Y" }}</td>
                                            <td>{{ rental_history.end_date|date:"d M Y" }}</td>
                                            <td><a href="#" class="text-decoration-underline">{% trans "More" %}</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- Rental History Tab -->
                <div class="tab-pane {% if rental_histories %} active {% endif %}" id="rental-history" role="tabpanel">
                    <div class="card card-overview shadow-sm">
                        <div class="card-body table-responsive">
                            {% if rental_histories %}
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Tenant" %}</th>
                                            <th>{% trans "From" %}</th>
                                            <th>{% trans "To" %}</th>
                                            <th>{% trans "Options" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rental_history in rental_histories %}
                                            <tr>
                                                <td>{{ rental_history.tenant.name }}</td>
                                                <td>{{ rental_history.start_date|date:"d M Y" }}</td>
                                                <td>{{ rental_history.end_date|date:"d M Y" }}</td>
                                                <td><a href="#" class="text-decoration-underline">{% trans "More" %}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    if (/Mobi|Android/i.test(navigator.userAgent)) {
        document.getElementById('mobile-buttons').classList.remove('d-none');
    }
</script>
